# This is a basic workflow to help you get started with Actions

name: Release

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Get npm cache directory
      id: npm_cache
      run: |
          echo ::set-output name=dir::$(npm config get cache)
          echo $dir

    - uses: actions/cache@v2
      with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
              ${{ runner.os }}-node-

    # Install npm dependencies for Prettier and Jest
    - name: 'Install npm dependencies'
      run: npm install

    - name:  'Automated Version Bump'
      id: version_bump_and_create_tag
      uses:  rimonhanna/gh-action-bump-version@master

    - name: Upload release notes
      if: steps.version_bump_and_create_tag.outputs.TAG
      uses: Roang-zero1/github-create-release-action@master
      with:
        created_tag: ${{ steps.version_bump_and_create_tag.outputs.TAG }}
        release_title: ${{ steps.version_bump_and_create_tag.outputs.TAG }}
        update_existing: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}